@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');



a {
    color:#222a;
    text-decoration:#2224 wavy underline;
    transition:all 0.3s;
    
}

canvas {
    position:fixed;
    z-index:-1;
}

body {
    color: rgb(255, 255, 255);
    background-color:rgb(108, 209, 243);
    font-family:Arial, Helvetica, sans-serif ;
    display: grid;
    background: #183059;
    margin: 0 0 0 0;
}



header {
  top: 0;
  left: 0;
  background-color:rgba(255, 255, 255, 0.158);
  display: flex;
  justify-content: center;


}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
   color: rgb(217, 218, 230);
text-decoration: none; 
}

header img {
width: 15pc;
height: 15pc;
border-radius: 50pc;
border: 10px solid rgb(106, 27, 112)

}

.center {
  margin-top:1em;
  text-align:center;  
  margin-left: auto;
  margin-right: auto;

}


nav {
  text-transform: uppercase;
  font-weight: bold;
}
nav a:hover {
    color:fuchsia
}


   




.container {
 
  margin: auto;
  overflow: hidden;
  width: 650px;
  height: 480px;
}



h1 {
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-top: 2em;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: rgb(98, 29, 123)
}

h2 {
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-top: 2em;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #621d7b
}



footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-size: 0.7em;
}
footer p {
  letter-spacing: 3px;
  color: #ef2f3c;
}
footer a {
  color: #f6f4f3;
  text-decoration: none;
}
footer a:hover {
  color: #276fbf;
  border-style: none;
}

footer img {
  width: 50px;
  height: 45px;
   
  }
footer {
  display: flex;
  justify-content: center;
}
